<!--recipe-list and recipe-detail should be displayed beside each other-->
<div class="row">
  <h1>Recipes</h1>
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <!--if selectedRecipe is true then display recipe else display infoText-->
    <app-recipe-detail 
      *ngIf="selectedRecipe; else infoText"
      [recipe]="selectedRecipe">
      <!--pass event data that the recipe item was selected from the list-->
    </app-recipe-detail>
    <ng-template #infoText>
      <p>Please select a recipe</p>
    </ng-template>
  </div>
</div>
